@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap");

/* 
.vollkorn-<uniquifier> {
  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

:root {
  --white: #fefefe;
  --basic: #1d1b1b;
  --green: #395137;
  --orange: #e08e44;
  --orange-2: #dbbb7e;
  --gray-light: #a2a2a2;
  --gray-light-2: #c4c4c4;
  --gray-light-3: #ececec;
  --gray-light-4: #f5f4f4;
  --gray-middle: #808080;
  --gray-high: #646363;
  --main-btn-hover: #75896e;
  --border-radius: 5px;
  --transition: 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--basic);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-color: var(--white);
}

main {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--basic);
  transition: var(--transition);
}

button {
  transition: var(--transition);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

input,
textarea {
  box-shadow: none !important;
}

textarea {
  resize: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

h1,
h2,
h3 {
  margin-bottom: 0;
}

h2 {
  color: var(--green);
  font-family: "Vollkorn", serif;
  font-size: 60px;
}

p {
  color: var(--gray-middle);
}

h2 span {
  color: var(--orange);
}

.main-btn,
.secondary-btn {
  font-size: 18px;
  border-radius: var(--border-radius);
  padding: 9px 30px;
  font-weight: 500;
}

.main-btn {
  background-color: var(--green);
  color: var(--white);
  border: none;
}

.main-btn:hover {
  background-color: var(--main-btn-hover);
}

.secondary-btn {
  color: var(--green);
  background-color: var(--white);
  border: 1px solid var(--green);
}

.secondary-btn:hover {
  background-color: var(--green);
  color: var(--white);
}

@media (max-width: 1400px) {
  h2 {
    font-size: 52px;
  }
}

@media (max-width: 1200px) {
  h2 {
    font-size: 46px;
  }
}

@media (max-width: 992px) {
  h2 {
    font-size: 32px;
  }

  .main-btn,
  .secondary-btn {
    font-size: 16px;
    padding: 9px 30px;
  }
}

@media (max-width: 767px) {
  h2 {
    font-size: 26px;
  }
}

/* colors */
.white-color {
  color: var(--white);
}

.green {
  color: var(--green);
}

.orange {
  color: var(--orange);
}

.gray-middle {
  color: var(--gray-middle);
}

.gray-high {
  color: var(--gray-high);
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fs-16 {
  font-size: 16px;
}

.fs-14 {
  font-size: 14px;
}

.top-sec {
  margin-top: 85px;
}

.section-padding {
  padding-top: 65px;
  padding-bottom: 65px;
}

@media (max-width: 992px) {
  .section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .top-sec {
    margin-top: 70px;
  }
}

/* --------------------------------------------------- */
/* navbar */
header .navbar {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-image: linear-gradient(
    rgba(29, 27, 27, 0.52) 0%,
    rgb(87 85 85 / 14%) 70%,
    rgba(29, 27, 27, 0) 100%
  );
  transition: var(--transition);
}

header nav.white-background {
  background-color: #ffffff !important;
  box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
}

header nav .nav-link {
  color: var(--white);
  font-size: 20px;
  border-bottom: 2px solid transparent;
}

header nav .nav-link:hover {
  color: var(--white);
}

header nav .active-nav,
header nav .nav-link:hover {
  border-color: inherit;
}

header nav .login-link {
  font-size: 20px;
}

header nav .login-link:hover {
  color: var(--green) !important;
}

header nav .sign-up-btn {
  background-color: var(--green);
  padding: 9px 30px;
  border-radius: var(--border-radius);
  font-size: 18px;
}

header nav .sign-up-btn:hover {
  background-color: var(--main-btn-hover);
}

header nav .nav-item {
  margin: 0 20px;
}

header nav .navbar-brand {
  padding: 0;
}

header nav .navbar-brand img {
  max-height: 80px;
  object-fit: contain;
}

header nav .navbar-toggler .toggle-icon {
  color: var(--white);
  font-size: 22px;
}

@media (max-width: 1200px) {
  header nav .nav-link {
    font-size: 18px;
  }

  header nav .nav-item {
    margin: 0 10px;
  }

  header nav .login-link {
    font-size: 18px;
  }

  header nav .sign-up-btn {
    font-size: 16px;
    padding: 8px 23px;
  }
}

@media (max-width: 992px) {
  header nav .navbar-brand img {
    max-height: 70px;
  }

  .sidebar {
    background-color: rgb(243 255 253 / 65%);
    backdrop-filter: blur(10px);
  }

  header nav .nav-item {
    margin: 8px 0;
  }

  header nav .nav-item .nav-link {
    font-size: 16px;
    color: var(--basic) !important;
  }

  header nav .sidebar .sidebar-logo {
    max-height: 80px;
    max-width: 100px;
    object-fit: contain;
  }

  header nav .sidebar .offcanvas-header {
    padding: 15px 40px;
  }

  header nav .login-link {
    color: var(--basic) !important;
  }

  header nav .sign-up-btn {
    padding: 9px 30px;
  }
}

/* end-header */
/* --------------------------------------------- */

/* home */
/* landing-page */

/* hero-slider */

/* filteration-section */
.home .filtration .search-buttons {
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 5;
  min-height: 100px;
  width: 100%;
  justify-content: center;
  margin: 0 10px;
}

.home .filtration .search-buttons .btn-holder {
  padding: 20px 35px;
  border-radius: 15px;
  background-color: var(--white);
  filter: drop-shadow(0 4px 1px var(--main-btn-hover));
  transition: var(--transition);
  font-weight: 500;
  font-size: 20px;
}

.home .filtration .search-buttons .btn-holder:hover {
  filter: none;
  box-shadow: 0px 0px 7px 1px #717171bd;
}

.home .filtration p {
  font-size: 18px;
}

.home .filtration .filtration-form {
  background-color: var(--gray-light-3);
  border: 1px solid var(--orange-2);
  border-radius: 10px;
  padding: 35px 30px;
}

.home .filtration .filtration-form input {
  border-radius: 10px;
  border: 1px solid var(--gray-light);
  padding: 9px 15px;
  color: var(--gray-light);
  transition: var(--transition);
  min-width: 350px;
}

.home .filtration .filtration-form input::placeholder {
  color: var(--gray-light);
}

.home .filtration .filtration-form input:focus {
  border-color: var(--gray-middle);
  outline: none;
}

.home .filtration .filtration-form .search-container {
  position: relative;
  display: inline-block;
}

.home .filtration .filtration-form .search-container input[type="text"] {
  padding-left: 40px;
  /* Adjust as needed to accommodate icon */
}

.home .filtration .filtration-form .search-container .fa-search {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--gray-light);
  /* Adjust icon color */
}

/* custom-select */

.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
}

.custom-select-wrapper select {
  display: none;
}

.custom-select {
  position: relative;
  display: inline-block;
}

.custom-select-trigger {
  position: relative;
  display: block;
  min-width: 180px;
  padding: 9px 15px;
  color: var(--gray-light);
  background: var(--white);
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid var(--gray-light);
  transition: all 0.3s;
}

.custom-select-trigger:hover {
  transition: all 0.3s;
}

.custom-select-trigger:after {
  position: absolute;
  display: block;
  content: "";
  width: 8px;
  height: 8px;
  top: 50%;
  right: 15px;
  margin-top: -3px;
  border-bottom: 1px solid var(--gray-light);
  border-right: 1px solid var(--gray-light);
  transform: rotate(45deg) translateY(-50%);
  transition: all 0.4s ease-in-out;
  transform-origin: 50% 0;
}

.custom-select.opened .custom-select-trigger:after {
  margin-top: 3px;
  transform: rotate(-135deg) translateY(-50%);
}

.custom-options {
  position: absolute;
  display: block;
  top: 90%;
  left: 0;
  right: 0;
  margin: 15px 0;
  border: 1px solid var(--gray-light);
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.07);
  background: var(--white);
  transition: all 0.4s ease-in-out;
  margin-left: 20px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
}

.custom-select.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
  z-index: 2;
}

.custom-options:before {
  position: absolute;
  display: block;
  content: "";
  bottom: 100%;
  right: 25px;
  width: 7px;
  height: 7px;
  margin-bottom: -4px;
  border-top: 1px solid var(--gray-light);
  border-left: 1px solid var(--gray-light);
  background: var(--white);
  transform: rotate(45deg);
  transition: all 0.4s ease-in-out;
}

.option-hover:before {
  background: #f9f9f9;
}

.custom-option {
  position: relative;
  display: block;
  padding: 0 22px;
  border-bottom: 1px solid #b5b5b5;
  color: #b5b5b5;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  padding: 10px 15px;
}

.custom-option:first-of-type {
  border-radius: 4px 4px 0 0;
}

.custom-option:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 4px 4px;
}

.custom-option:hover,
.custom-option.selection {
  background: var(--gray-light-3);
  color: var(--gray-middle);
}

@media (max-width: 767px) {
  .custom-select-trigger {
    min-width: 155px;
    font-size: 14px;
  }
}
/* end-custom-select */

@media (max-width: 1400px) {
  .home .filtration .search-buttons .btn-holder {
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  .home .filtration .search-buttons {
    justify-content: start;
    white-space: nowrap;
    /* [1] */
    overflow-x: auto;
    /* [2] */
    -webkit-overflow-scrolling: touch;
    /* [3] */
    -ms-overflow-style: -ms-autohiding-scrollbar;
    /* [4] */
  }

  /* [5] */
  .home .filtration .search-buttons.scroll::-webkit-scrollbar {
    display: none;
  }

  .home .filtration .search-buttons .btn-holder {
    font-size: 16px;
    padding: 16px 20px;
  }

  .home .filtration p {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .home .filtration .filtration-form input {
    min-width: 240px;
    font-size: 14px;
  }

  .home .filtration .filtration-form {
    padding: 25px 15px;
  }

  .home .filtration .search-buttons .btn-holder {
    font-size: 14px;
    padding: 15px 20px;
  }
}
/* end-filtration-form */
/* ------------------------------------------------------- */

/* steps */
.home .steps .step img {
  max-height: 70px;
  object-fit: contain;
}

.home .steps .step h3 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 3px;
}

@media (max-width: 992px) {
  .home .steps .step h3 {
    font-size: 18px;
  }

  .home .steps .step p {
    font-size: 14px;
  }
}

/* end-steps */
/* ------------------------------------------------------ */

/* video */

/* end-video */
/* ------------------------------------------------- */

/* start main states */
.home .main-states p {
  font-size: 18px;
}

.home .main-states .state .state-container {
  overflow: hidden;
}

.home .main-states .state figcaption {
  margin-top: -80px;
  z-index: 2;
  position: relative;
}

.home .main-states .state figcaption h3 {
  font-size: 30px;
}

.home .main-states .state figcaption div {
  font-size: 18px;
}

.home .main-states .state img {
  transition: var(--transition);
}

.home .main-states .state .state-container:hover img {
  transform: scale(1.1);
}

@media (max-width: 1200px) {
  .home .main-states .state figcaption h3 {
    font-size: 26px;
  }

  .home .main-states .state figcaption div {
    font-size: 16px;
  }

  .home .main-states p {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .home .main-states .state img {
    height: 280px;
    width: 100%;
    object-fit: cover;
  }

  .home .main-states p {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .home .main-states .state figcaption h3 {
    font-size: 24px;
  }
}

/* end main states */
/* ----------------------------------------------------- */

/* start recommended section */
.home .recommended-sec .title a {
  font-size: 18px;
}

.home .recommended-sec .title a:hover {
  color: var(--orange);
}

@media (max-width: 767px) {
  .home .recommended-sec .title a {
    font-size: 16px;
  }
}

/* --------------------------------------- */

/* main-card */
.main-card .card {
  transition: var(--transition);
  min-width: 200px;
}

.main-card .card:hover {
  box-shadow: 0px 0px 10px 2px #7f7f7f8f;
}

.main-card .card-body {
  padding: 20px;
}

.main-card .card-body .card-title h3 {
  font-size: 22px;
  font-weight: 700;
}

/* Rating Star Widgets Style */
.main-card .rating-stars ul {
  list-style-type: none;
  padding: 0;

  -moz-user-select: none;
  -webkit-user-select: none;
}

.main-card .rating-stars ul > li.star {
  display: inline-block;
}

/* Idle State of the stars */
.main-card .rating-stars .star {
  font-size: 14px;
  /* Change the size of the stars */
  color: var(--gray-light-2);
  /* Color on idle state */
}

.main-card .rating-stars .star.active {
  color: var(--orange);
}

.main-card .card-body .info {
  margin: 15px 0;
  position: relative;
  padding: 16px 0;
}

.main-card .card-body .info::before,
.main-card .card-body .info::after {
  content: "";
  position: absolute;
  top: 0;
  width: 75%;
  height: 1px;
  /* Border thickness */
  background-color: var(--gray-light);
  /* Border color */
}

.main-card .card-body .info::before {
  left: 10%;
  /* Adjust to center the border */
}

.main-card .card-body .info::after {
  right: 15%;
  /* Adjust to center the border */
  top: auto;
  bottom: 0;
}

.main-card .card-body .info .item {
  position: relative;
  margin-right: 10px;
}

.main-card .card-body .info .item:not(:first-child)::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 30px;
  background-color: var(--gray-light-2);
  left: -10px;
}

.main-card .card-body .info .item i {
  color: var(--green);
}

.main-card .card-body .price {
  font-size: 20px;
}

.main-card .card .actions {
  position: absolute;
  right: 20px;
  top: 20px;
}

.main-card .card .actions i {
  font-size: 18px;
  background-color: #1d1b1b8a;
  color: var(--white);
  border-radius: 50%;
  padding: 8px;
}

.main-card .card button {
  font-size: 16px;
  padding: 8px 25px;
}

.main-card .card .actions i {
  cursor: pointer;
  transition: var(--transition);
}

.main-card .card .actions i:hover {
  background-color: var(--main-btn-hover);
}

@media (max-width: 767px) {
  .main-card .card .card-body .card-title h3 {
    font-size: 20px;
  }

  .main-card .card .card-body .location,
  .main-card .card .card-body .info {
    font-size: 14px;
  }

  .main-card .card-body .price {
    font-size: 16px;
  }

  .main-card .card button {
    font-size: 14px;
    padding: 8px 20px;
  }
}

/* end-main-card */
.home .recommended-sec .slick-dots {
  bottom: -35px;
}

.home .recommended-sec .slick-dots li button:before {
  font-size: 10px;
  color: var(--green);
}

.home .recommended-sec .slick-dots li {
  margin: 0 4px;
}

/* ------------------------------------------ */
/* end recommended section */

/* download-app  */
.home .download-app {
  background-image: url(../images/download-app-bg.webp);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}
.home .download-app p {
  font-size: 18px;
  margin-top: 8px;
}

.home .download-app .download .title {
  font-size: 30px;
}

.download .download-btn {
  border: 1px solid var(--green);
  padding: 5px 15px;
  border-radius: 7px;
  background: none;
  color: var(--green);
  max-width: 200px;
}

.download .download-btn i {
  font-size: 28px;
}

.download .download-btn .head-title {
  font-size: 14px;
}

.download .download-btn .main-title {
  font-weight: 500;
  font-size: 18px;
  margin-top: -5px;
}

.download .download-btn:hover {
  background-color: var(--main-btn-hover);
  color: var(--white);
}

@media (max-width: 992px) {
  .home .download-app {
    background-position: bottom;
  }

  .home .download-app p {
    font-size: 16px;
  }

  .home .download-app .download .title {
    font-size: 20px;
  }
  .download .download-btn i {
    font-size: 22px;
  }
  .download .download-btn .head-title {
    font-size: 12px;
  }
  .download .download-btn .main-title {
    font-size: 16px;
  }
  .home .download-app .mobile-img {
    max-height: 350px;
  }
  .download .download-btn {
    max-width: 170px;
  }
}
/* end-download-app */
/* --------------------------------------------------- */
/* blogs */
.home .blogs .blog-card .card {
  transition: var(--transition);
  margin: 3px 10px;
}

.home .blogs .blog-card .card:hover {
  box-shadow: 0px 0px 9px 0px #aeaeae80;
}

.home .blogs .blog-card .card .read-more-icon i {
  transition: var(--transition);
  font-size: 26px;
}
.home .blogs .blog-card .card:hover .read-more-icon i {
  transform: scale(1.3);
}

.home .blogs .blog-card .card-body {
  padding: 25px 20px;
}
.home .blogs .blog-card .card h3 {
  font-weight: 700;
  font-size: 20px;
}

.home .blogs .blog-card .card-body p {
  position: relative;
}
.home .blogs .blog-card .card-body p::after {
  content: "";
  position: absolute;
  background-color: var(--gray-light-2);
  height: 1px;
  width: 80%;
  bottom: -16px;
  left: 50%;
  transform: translate(-50%, 50%);
}

.home .blogs .blog-card .card-body .writer-name {
  font-weight: 500;
  border-right: 1px solid var(--gray-light-2);
  padding-right: 8px;
}

.home .blogs .blog-card .card-body .num-of-minutes {
  font-size: 14px;
  color: var(--main-btn-hover);
}

.home .blogs .slick-dots li button:before {
  top: 30px;
  background-color: var(--gray-middle);
  content: "";
  width: 55px;
  height: 4px;
  border-radius: 20px;
}

.home .blogs .slick-dots li.slick-active button:before {
  background-color: var(--green) !important;
}

.home .blogs .slick-dots li {
  width: 65px;
  margin: 0 4px;
}

.home .blogs .blog-card .bottom-data-holder {
  max-height: 24px;
}

@media (max-width: 992px) {
  .home .blogs .blog-card .card h3 {
    font-size: 18px;
  }
  .home .blogs .blog-card .card-body p {
    font-size: 14px;
  }
}

/* end-blogs */
/* --------------------------------------------------------- */
/* contact-us-sec */
.home .contact-sec .content-holder {
  background-image: url("../images/contact-bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70vh;
  padding: 30px;
  position: relative;
  box-shadow: 12px 4px 20px 0px #59595957;
}

.home .contact-sec .content-holder .side-conent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home .contact-sec .content-holder .side-conent p {
  color: var(--gray-light-3);
}

/* form */
.home .contact-sec .contact-form label {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 4px;
}

.home .contact-sec .contact-form input,
.home .contact-sec .contact-form textarea {
  background-color: var(--gray-light-4);
  border: 1px solid var(--gray-light-2);
  padding: 12px 15px;
  color: var(--gray-middle);
  font-size: 14px;
}

.home .contact-sec .contact-form input:focus,
.home .contact-sec .contact-form textarea:focus {
  border-color: var(--gray-high);
}

.home .contact-sec .contact-form input::placeholder,
.home .contact-sec .contact-form textarea::placeholder {
  color: var(--gray-middle);
}

@media (max-width: 992px) {
  .home .contact-sec .content-holder {
    min-height: 50vh;
  }
  .home .contact-sec .content-holder .side-conent p {
    font-size: 14px;
  }
  .home .contact-sec .contact-form label {
    font-size: 16px;
  }
}

/* end contact-sec */
footer {
  background-image: url("../images/footer-bg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

footer .subscribe input {
  max-width: 400px;
  background-color: var(--white);
  border: 1px solid var(--gray-light-2);
  padding: 9px 14px;
  color: var(--gray-middle);
}

footer .subscribe input::placeholder {
  color: var(--gray-middle);
}

footer .subscribe input:focus {
  border-color: var(--gray-middle);
}

footer h3 {
  font-size: 24px;
}

footer .links .col-margin {
  margin-top: 55px;
}

footer .links .footer-link {
  padding: 3px 0;
}
footer .links .footer-link a:hover {
  color: var(--main-btn-hover);
}

footer .footer-logo {
  max-height: 170px;
}

footer hr {
  margin: 20px auto 15px auto;
  border: none; /* Remove the default border */
  border-top: 1px solid var(--gray-high); /* Set the top border to create the line */
}

footer .copy-rights {
  font-size: 14px;
}

footer .copy-rights a:hover {
  color: var(--main-btn-hover);
}

footer .social-links a {
  padding: 4px 8px;
  background-color: var(--green);
  color: var(--gray-light-2);
  font-size: 18px;
  border-radius: 4px;
  width: 33px;
  text-align: center;
}

footer .social-links a:hover {
  background-color: var(--main-btn-hover);
}

@media (max-width: 1200px) {
  footer .download .download-btn .head-title {
    font-size: 12px;
  }
  footer h3 {
    font-size: 22px;
  }
  footer .download .download-btn .main-title {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  footer h3 {
    font-size: 20px;
  }
  footer .links a {
    font-size: 14px;
  }
  footer .footer-logo {
    max-height: 120px;
  }
  footer .subscribe .sub-title {
    font-size: 14px;
  }
  footer .subscribe input {
    padding: 8px 14px;
  }
  footer .social-links a {
    width: 30px;
  }
}
/* end footer */

/* end-home */
/* --------------------------------------------------------------------- */

/* faq-page */
.faq .faq-top-sec img {
  min-height: 60vh;
  object-fit: cover;
  margin: auto;
}
.faq .faq-top-sec .title,
.services .top-sec .title {
  position: absolute;
  bottom: 12%;
}

.faq .faq-top-sec .title .head,
.services .faq-top-sec .title .head {
  font-weight: 500;
  font-size: 36px;
}

.faq .faq-top-sec .title .main,
.services .faq-top-sec .title .main {
  font-size: 70px;
  margin-top: -8px;
}

.faq .questions .nav-pills .nav-link.active,
.faq .questions .nav-pills .show > .nav-link {
  color: var(--main-btn-hover);
  background: none;
}

.faq .questions .nav-pills .nav-link {
  color: var(--basic);
  box-shadow: none;
  font-size: 22px;
}

.faq .questions .nav-pills .nav-link:hover {
  color: var(--main-btn-hover);
}

.faq .questions .question {
  font-size: 20px;
}

.faq .questions .answer {
  font-size: 18px;
}

@media (max-width: 1400px) {
  .faq .faq-top-sec .title .main,
  .services .faq-top-sec .title .main {
    font-size: 66px;
  }
}

@media (max-width: 1200px) {
  .faq .faq-top-sec .title .main,
  .services .faq-top-sec .title .main {
    font-size: 60px;
  }
}

@media (max-width: 992px) {
  .faq .faq-top-sec .title .main,
  .services .faq-top-sec .title .main {
    font-size: 46px;
  }
  .faq .faq-top-sec .title .head,
  .services .tfaq-top-sec .title .head {
    font-size: 28px;
  }
  .faq .faq-top-sec img {
    min-height: 50vh;
  }
  .faq .questions .question {
    font-size: 18px;
  }

  .faq .questions .answer {
    font-size: 16px;
  }
  .faq .questions .nav-pills .nav-link {
    font-size: 18px;
  }
}

/* end-faq */
/* ---------------------------------------------------------- */

/* properies-sec */
.properties .head .title {
  font-size: 20px;
}

.properties aside .filter-container {
  border: 1px solid var(--gray-light-2);
  padding: 10px 15px;
  background-color: #f5f4f480;
  border-radius: 12px;
}
.properties aside .filter-container:not(:last-child) {
  margin-bottom: 10px;
}

.properties aside .filter-container .filter-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}
.form-check-input[type="radio"] {
  cursor: pointer;
}
.properties aside .filter-container .form-check-input:checked {
  background-color: var(--green);
  border-color: var(--green);
}
.properties aside .filter-container .accordion-button::after {
  content: "\f061"; /* Unicode value for the desired Font Awesome icon */
  font-family: "Font Awesome 6 pro"; /* Font family for Font Awesome */
  font-size: 18px; /* Size of the icon */
  background-image: none;
}
.accordion-button:focus {
  box-shadow: none !important;
}
.properties aside .filter-container .accordion-button:not(.collapsed)::after {
  transform: none;
}
.properties aside .filter-container .accordion-body {
  padding: 10px 0;
}

.accordion-item {
  background: transparent;
}

.properties aside .filter-container .accordion-button {
  padding: 5px 0;
  background-color: transparent;
}

.properties aside .filter-container .accordion-button span {
  color: var(--gray-light);
  font-weight: 500;
  margin-left: 4px;
  font-size: 16px;
  margin-top: 4px;
}

.properties aside .filter-container .form-check-label {
  font-size: 16px;
}

.accordion-button:not(.collapsed) {
  background: none;
  padding: 10px;
  color: var(--basic);
}

.accordion-flush .accordion-item .accordion-button,
.accordion-flush .accordion-item .accordion-button.collapsed {
  font-family: "Poppins", sans-serif;
}

.properties aside .filter-container .nstSlider {
  background-color: var(--gray-light-2);
  max-height: 10px;
  max-width: 100%;
}

.nstSlider .leftGrip,
.nstSlider .rightGrip {
  border: 1px solid var(--green);
  width: 20px;
  height: 14px;
  top: -2px;
}

.properties aside .filter-container .nstSlider .bar {
  height: 100%;
  top: 0;
  background-color: var(--green);
}

.properties aside .filter-container .leftLabel,
.properties aside .filter-container .rightLabel {
  color: var(--gray-high);
}
.properties aside .filter-container input {
  border-color: var(--gray-light-2);
  color: var(--gray-light);
}
.properties aside .filter-container input::placeholder {
  color: var(--gray-light);
}
.properties aside .filter-container input:focus {
  border-color: var(--gray-high);
}

/* select */
.properties aside .filter-container .number-options,
.properties aside .filter-container .bathroom-number,
.properties aside .filter-container .garage-space,
.properties aside .filter-container .features {
  display: flex;
  flex-wrap: wrap;
}

.properties aside .filter-container .number-box,
.properties aside .filter-container .bath-num,
.properties aside .filter-container .garage-space-num,
.properties aside .filter-container .feature {
  min-width: 35px;
  height: 35px;
  border: 1px solid var(--gray-light-2);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px;
  cursor: pointer;
  color: var(--green);
  transition: var(--transition);
  font-weight: 500;
  padding: 5px 8px;
}

.properties aside .filter-container .feature {
  font-size: 14px;
  color: var(--gray-middle);
}

.properties aside .filter-container .number-box:hover,
.properties aside .filter-container .bath-num:hover,
.properties aside .filter-container .garage-space-num:hover,
.properties aside .filter-container .feature:hover {
  border-color: var(--green);
}

.properties aside .filter-container .number-box.selected,
.properties aside .filter-container .bath-num.selected,
.properties aside .filter-container .garage-space-num.selected,
.properties aside .filter-container .feature.selected {
  background-color: var(--green);
  color: white;
  border-color: transparent;
}

.properties .pagination .page-item:not(:first-child) .page-link,
.properties .pagination .page-item:not(:last-child) .page-link {
  border: none !important;
}

.properties .pagination .page-item.active .page-link,
.properties .pagination .page-item:hover .page-link {
  background-color: var(--gray-light-3);
}

.properties .pagination .page-link {
  color: var(--basic);
  margin: 5px;
  box-shadow: none;
  padding: 8px 12px;
  min-width: 35px;
  text-align: center;
}
.properties .pagination .page-link:hover {
  background-color: var(--gray-light-3) !important;
}
.properties .pagination .page-link:first-child,
.properties .pagination .page-link:last-child {
  border-color: var(--gray-light-2);
  background-color: var(--white);
  border-radius: 5px;
}

@media (max-width: 992px) {
  .properties .head .title {
    font-size: 16px;
  }
  .properties aside .filter-container .filter-title {
    font-size: 16px;
  }
  .properties aside .filter-container .form-check-label {
    font-size: 14px;
  }
  .properties aside {
    position: absolute;
    z-index: 10;
    width: 60%;
    left: -150%;
    transition: var(--transition);
    background-color: var(--white);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 6px 0px #29292954;
    top: 4%;
  }

  .properties .toggle-aside {
    cursor: pointer;
    transition: var(--transition);
  }

  .properties aside.left {
    left: 0;
  }

  .properties aside .filter-container input {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .properties aside {
    width: 80%;
  }
}

/* end properties */
/* ----------------------------------------------------------- */

/* login & register */
.register .register-container {
  background-image: url(../images/register.webp);
  background-position: center;
  background-size: cover;
  min-height: 40vh;
}

.register .register-container .title {
  font-size: 44px;
  font-weight: 700;
}

.register .register-container .login a:hover {
  color: var(--white);
}

.register .register-container .login {
  font-size: 18px;
}

.register .register-container form label {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 5px;
}
.register .register-container form input::placeholder {
  color: var(--gray-middle);
}

.register .register-container form input {
  padding: 8px 12px;
  font-size: 14px;
}

.register .register-container form input:focus {
  border-color: var(--gray-high);
}

.login .register-container form {
  width: 40%;
}

/* select */
.register .register-container .custom-select-wrapper {
  display: block;
  font-size: 14px;
}
.register .register-container .custom-options {
  margin-left: 0;
}
.register .register-container .custom-select {
  width: 100%;
}

.login .forgot-pass:hover {
  color: var(--green);
}

@media (max-width: 1400px) {
  .register .register-container .title {
    font-size: 40px;
  }
  .register .register-container .login {
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  .login .register-container form {
    width: 50%;
  }
}

@media (max-width: 992px) {
  .login .register-container form {
    width: 65%;
  }
  .register .register-container .title {
    font-size: 28px;
  }
  .register .register-container .login {
    font-size: 14px;
  }
  .login .forgot-pass {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .login .register-container form {
    width: 100%;
  }
}

/* end login and register */
/* --------------------------------------------------- */
.services .contact-us-card {
  border: 1px solid var(--gray-light-3);
  padding: 30px 35px;
  border-radius: 15px;
  box-shadow: 0px 0px 7px 0px rgba(21, 21, 21, 0.25);
  overflow: hidden;
  position: relative;
  margin: 30px;
  min-height: 200px;
}

.services .contact-us-card .comments-icon {
  font-size: 36px;
  color: var(--main-btn-hover);
  margin-bottom: 15px;
}

.services .contact-us-card h3 {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 10px;
}

.services .contact-us-card p {
  font-size: 18px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.services .contact-us-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
  height: 100%;
  width: 100%;
}

.services .contact-us-card .overlay .flip-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s;
}

.services .contact-us-card:hover .overlay {
  opacity: 1;
}

.services .contact-us-card .overlay .learn-more {
  z-index: 1;
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, 50%);
  font-weight: 700;
  font-size: 20px;
}

@media (max-width: 1400px) {
  .services .contact-us-card {
    margin: 25px;
  }
  .services .contact-us-card p {
    font-size: 16px;
  }
  .services .contact-us-card .more {
    font-size: 14px;
  }
}
@media (max-width: 1400px) {
  .services .contact-us-card {
    margin: 20px;
    padding: 20px 25px;
  }
}

@media (max-width: 992px) {
  .services .contact-us-card h3 {
    font-size: 20px;
  }
}

/* end-services */

/* service-details */
.service-details h3 {
  font-size: 44px;
}

.service-details .main-img img {
  border-radius: 10px;
}

.service-details .content {
  font-size: 20px;
}

@media (max-width: 1400px) {
  .service-details h3 {
    font-size: 40px;
  }
}

@media (max-width: 992px) {
  .service-details .content {
    font-size: 18px;
  }
  .service-details h3 {
    font-size: 34px;
  }
  .service-details .content {
    font-size: 16px;
  }
}

/* end-service-details */
/* ------------------------------------------ */

/* pricing-plans */
.pricing-plans .pricing-top-sec {
  background-image: url(../images/pricing-plans-bg.webp);
  min-height: 65vh;
  background-size: cover;
  background-position: center;
}

.pricing-plans .title-holder {
  padding-top: 10%;
}
.pricing-plans .title-holder h2 {
  font-size: 60px;
  color: var(--white);
}

.pricing-plans .pricing-card-container .price-card {
  background-color: var(--white);
  width: 30%;
  border-radius: 15px;
}

.pricing-plans .pricing-card-container .price-card .top-icon {
  font-size: 18px;
  padding: 8px;
}

.pricing-plans .pricing-card-container .price-card .top-icon,
.pricing-plans .pricing-card-container .price-card ul .check-icon {
  background-color: var(--gray-light-3);
  border-radius: 50%;
}

.pricing-plans .pricing-card-container .price-card .plan-type {
  font-size: 20px;
}
.pricing-plans .pricing-card-container .price-card h3 {
  font-size: 38px;
}

.pricing-plans .pricing-card-container .price-card ul {
  margin-top: 20px;
}

.pricing-plans .pricing-card-container .price-card ul .check-icon {
  color: var(--main-btn-hover);
  background-color: var(--gray-light-3);
  padding: 7px;
  margin-right: 10px;
  font-size: 14px;
  padding: 6px;
}
.pricing-plans .pricing-card-container .price-card ul li {
  color: var(--gray-high);
}

.pricing-plans .pricing-card-container .price-card ul li:not(:last-child) {
  margin-bottom: 8px;
}
.pricing-plans .pricing-card-container .price-card .get-started {
  background-color: var(--gray-light-4);
  padding: 25px 10px;
}

.pricing-plans .pricing-card-container .price-card .card-p {
    padding: 30px;
}
@media (max-width: 1200px) {
  .pricing-plans .title-holder h2 {
    font-size: 54px;
  }
}
@media (max-width: 992px) {
  .pricing-plans .title-holder h2 {
    font-size: 48px;
  }
  .pricing-plans .title-holder div {
    font-size: 14px;
  }
}
